*{
    padding: 0px;
    margin: 0px;
    /* border: 0.1px solid skyblue; */
    font-family: 'Noto Sans KR'
    
}

section{
    width: 100%;
    height: 900px;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url(https://fonts.gstatic.com/s/notosanskr/v27/PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.0.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}