#main-door{
    display: flex;
    height: 450px;
    padding: 0% 0% 0% 3%;
}

#main-door:nth-child(0){
    width: 50%;
}
#main-door:nth-child(1){
    width: 50%;
}

button{
    width: 200px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 130px;
    margin-top: 15px;
}

.part{text-align: center; margin-top: 30px;}
.title{font-size: 53px;}
.content{font-size: 18px; margin: 10px 0px 10px 0px;}

.sub-title{text-align:left; margin-left: 80px; margin-bottom: 20px; font-size: 20px; font-weight: bold;}




.divided{
    position: relative;
    clear: both;
}

#dividedFirst{
    display: inline-block;
    position: relative;
}

#dividedFirst > p {
    position: absolute;
    top: 650px;
    left: 50px;
    color: aliceblue;
    font-size: 25px;

}

#dividedFirst > button {
    position: absolute;
    top: 700px;
    left: 45px;
    color: aliceblue;
    font-size: 25px;

}

#dividedSecond{
    display: inline-block;
    position: relative;
}

#dividedSecond > p {
    position: absolute;
    top: 650px;
    left: 73px;
    color: aliceblue;
    font-size: 25px;

}
#dividedSecond > button {
    position: absolute;
    top: 700px;
    left: 45px;
    color: aliceblue;
    font-size: 25px;

}

#bottomDivided{
    position: relative;
    clear: both;
}

#bottomDividedFirst{
    display: inline-block;
    position: relative;
}
#bottomDividedFirst > p {
    position: absolute;
    top: 630px;
    left: 55px;
    color: aliceblue;
    font-size: 30px;
}

#bottomDividedSecond{
    display: inline-block;
    position: relative;
}
#bottomDividedSecond> p {
    position: absolute;
    top: 630px;
    left: 55px;
    color: aliceblue;
    font-size: 30px;
}

#bottomDividedThird{
    display: inline-block;
    position: relative;
}

#bottomDividedThird> p {
    position: absolute;
    top: 630px;
    left: 55px;
    color: aliceblue;
    font-size: 30px;
}

